body {
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5C76E5;
}

.App {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  width: 100%; 
  max-width: 500px;
  margin: auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1000px;
  border-radius: 20px;
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

header {
  width: 100%;
  color: aliceblue;
  align-items: center;
  background-color: #505050;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  padding: 20px;
}

footer {
  width: 100%;
  padding: 0.25em;
  color: #646469;
  display: grid;
  place-content: center;
}
tbody{
  list-style: none;
  padding: 0;
}

td{

  padding: 10px;
  
}
td input[type='checkbox']{
  height: 50px;
  width: 20px;
  margin: 10px;
  border-radius: 100%;
}
td label{
  color: #646469;
}
.workitem{
  word-wrap: break-word;
  color: #646469;
  text-align: left;
}

td label, td button{
  margin: 10px;
}
.myName{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
.totalItems{
  margin: 0;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.headerItem{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headerItem h4{
  color: #646469;
  margin-bottom: 0;
}
.itemForm{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemForm input[type='text'], .itemForm input[type='text']:focus{
  margin-right: 10px;
  height: 35px;
  border: none;
  border-bottom: 1px solid #198754;
  outline: none;
  background-color: transparent;
}
.itemForm button{
  font-size: 20px;
  border-radius: 50%;
}
.taskcount{
  color: #5C76E5;
  font-size: 20px;
  text-align: left;
  margin-left: 60px;
}
#deletebtn{
  height: 30px;
  margin-left: 20px;
  fill: #5C76E5;
}
#deletebtn:hover{
  color: red;
}
#remainderbtn{
  height: 30px;
  margin-left: 20px;
  fill: #5C76E5;
}
#editbtn{
  height: 30px;
  margin-left: 20px;
  fill: #5C76E5;
}
.btn{
  background-color: #5C76E5;
  color: whitesmoke;
}
.btn:hover{
  color: whitesmoke;
}
.fetcherror{
  color: red;
  font-weight: 500;
}
.dots {
  width: 56px;
  height: 26.9px;
  background: radial-gradient(circle closest-side,#5C76E5 90%,#0000) 0%   50%,
         radial-gradient(circle closest-side,#5C76E5 90%,#0000) 50%  50%,
         radial-gradient(circle closest-side,#5C76E5 90%,#0000) 100% 50%;
  background-size: calc(100%/3) 13.4px;
  background-repeat: no-repeat;
  animation: dots-7ar3yq 1s infinite linear;
}

.remainderForm{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#date{
  border: 1px solid #198754;
  margin-bottom: 10px;
  padding: 10px;
}

#date:focus{
  border: 1px solid #198754;
  outline: none;
}

#time{
  border: 1px solid #198754;
  margin-bottom: 10px;
  padding: 10px;
}

#time:focus{
  border: 1px solid #198754;
  outline: none;
}

.addRemainderBtn{
  background-color: #5C76E5;
  color: whitesmoke;
  border: none;
  padding: 10px;
  border-radius: 20px;
}

#editInput{
  border: 1px solid #198754;
  margin-bottom: 10px;
  padding: 10px;
}

#editInput:focus{
  border: 1px solid #198754;
  outline: none;
}

#nameInput{
  border: 1px solid #198754;
  margin-bottom: 10px;
  padding: 10px;
}

#nameInput:focus{
  border: 1px solid #198754;
  outline: none;
}

.editUpdateBtn{
  background-color: #5C76E5;
  color: whitesmoke;
  border: none;
  padding: 10px;
  border-radius: 20px;
}

@keyframes dots-7ar3yq {
  20% {
     background-position: 0%   0%, 50%  50%,100%  50%;
  }

  40% {
     background-position: 0% 100%, 50%   0%,100%  50%;
  }

  60% {
     background-position: 0%  50%, 50% 100%,100%   0%;
  }

  80% {
     background-position: 0%  50%, 50%  50%,100% 100%;
  }
}

.headerName{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 20px;
  color: #646469;
}

