body {
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  max-width: 500px;
  border: 1px solid gray;
  margin: auto;
}

header {
  width: 100%;
  color: aliceblue;
  align-items: center;
  background-color: #505050;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color: #505050;
  color: aliceblue;
  display: grid;
  place-content: center;
}
ul{
  list-style: none;
  padding: 0;
}
li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid gray; */
  background-color: #e4e4e4;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 5px 3px 4px #aaaaaa;;
}
li input[type='checkbox']{
  height: 50px;
  width: 20px;
  margin: 10px;
}
li label, li button{
  margin: 10px;
}
.myName{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
.totalItems{
  margin: 0;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.itemForm{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemForm input[type='text'], .itemForm input[type='text']:focus{
  margin-right: 10px;
  height: 35px;
  border: none;
  border-bottom: 1px solid #198754;
  outline: none;
}
.itemForm button{
  font-size: 20px;
}
#deletebtn{
  font-size: 22px;
  color: #ba0505;
  margin-left: 20px;
}
#deletebtn:hover{
  color: red;
}
.btn{
  background-color: #089e11;
  color: whitesmoke;
}
.btn:hover{
  color: whitesmoke;
}